@import 'import';
@import './iconfont';

.navicon {
  font-size: 1.2rem;
  color: #fff;
  width: 1.8rem;
  height: 1.8rem;
  line-height: 1.8rem;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
  &:hover {
    background: rgba(#fff, 0.15);
  }
  + .navicon {
    margin-left: 0.2rem;
  }
}
