@import 'import';

.navbar {
  -webkit-user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: $navHeight;
}
.macDrag {
  -webkit-app-region: drag;
}
.navbarView {
  background: $c-primary;
  padding: 0 0.5rem;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.navbarAnimation {
  &:hover {
    .navbarView {
      transform: translate3d(0, 0, 0);
    }
  }
  .navbarView {
    transform: translate3d(0, -$navHeight, 0);
  }
}
.headerBar {
  display: flex;
  align-items: center;
  height: 1.5rem;
  position: relative;
}
.drag {
  -webkit-app-region: drag;
  height: 100%;
  flex: 1;
}
.subBar {
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding-bottom: 0.2rem;
  color: #fff;
  font-size: 1rem;
}

.left,
.right {
  width: 5rem;
  display: flex;
  align-items: center;
}
.right {
  justify-content: flex-end;
}
