@import 'import';

.navbar {
  -webkit-user-select: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  height: $navHeight;
}
.macDragFix {
  -webkit-app-region: drag;
}
.drabar {
  -webkit-app-region: drag;
  height: 100%;
  flex: 1;
}
.navbarView {
  background: $c-primary;
  transition: 0.3s ease-in-out;
  width: 100%;
  height: 100%;
}
.inVideo {
  &:hover {
    .navbarView {
      opacity: 1;
    }
  }

  .navbarView {
    opacity: 0;
    background: transparent;
  }
  .headerBar {
    background: linear-gradient(45deg, #000, transparent);
  }
  .subBar {
    display: none;
  }
}

.headerBar {
  display: flex;
  align-items: center;
  height: 1.5rem;
  position: relative;
  padding: 0 0.5rem;
}
.subBar {
  padding: 0 0.5rem;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
  padding-bottom: 0.2rem;
  color: #fff;
  font-size: 1rem;
}

.left,
.right {
  width: 5rem;
  display: flex;
  align-items: center;
}
.right {
  justify-content: flex-end;
}
