@import 'import';
@import 'player';
#preload {
  .p-close,
  .v-part-toggle {
    display: none !important;
  }
  .v-plist {
    display: none;
    background: rgba(#fff, 0.98);
    padding: 5.1rem 0 0 0;
    position: relative;
    position: fixed;
    z-index: 999999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &:before {
      content: '分P选择';
      width: 100%;
      height: 5.1rem;
      position: absolute;
      top: 0;
      left: 0;
      color: #555;
      font-size: 1rem;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $bar-shadow;
      z-index: 999;
    }
  }
  #plist {
    width: 100%;
    height: calc(100% - 5.1rem);
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    > a,
    .curPage {
      display: block;
      margin: 0;
      width: 100%;
      flex: 1;
      max-height: 3rem;
      height: 3rem;
      min-height: 3rem;
      padding: 0 1rem;
      display: flex;
      align-items: center;
      border: none;
      border-radius: 0;
      border-color: rgba(#000, 0.08);
      border-bottom: 1px solid rgba(#000, 0.08);
      line-height: 1;
    }
    > a {
      background: transparent;
    }
    .curPage {
      cursor: pointer;
    }
  }
}
