<!DOCTYPE html>
<html lang="en" class="webp">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
	      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, minimal-ui">
	<title>Bilibili</title>
</head>
<body>
<div id="root"></div>
<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-112617256-3"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', 'UA-112617256-3');
</script>
<!-- Baidu Tongji -->
<script async src="https://hm.baidu.com/hm.js?22400da7a9925c06ed6bfee1f5b973e3"></script>
</body>
</html>
