@import 'import';
html,
body,
:global(#root) {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: $font-family;
  background: transparent;
  backdrop-filter: blur(10px);
}

a:focus {
  text-decoration: none;
}
*:focus {
  outline: none;
}
* {
  -webkit-font-smoothing: antialiased;
}
